<div class="background-static">
  <div class="container">
    <%= render partial: "message" %>
    <%= render partial: "newsletter" %>
    <section class="content medium">
      <div>
        <h1>Contact</h1>
        <p>
          I love hearing from readers! Connect with me via email below. Thanks!
        </p>
        <!-- <p>
          <a href="#" data-toggle="modal" data-target="#message">Leave a Message</a>
        </p> -->
        <p class="email-link">
          <a href="MAILTO:markcnoce@gmail.com">Email Me</a>
        </p>
      </div>
      <div>
        <div class="contact_img_box">
          <img src="assets/contacts.jpg" class="contact_img"/>
        </div>
        <div class="links_box">
          <h2>Newsletter</h2>
          <p>
            Sign up for my newsletter so you can get all the latest news on my work and for my promotional schedule.
          </p>
          <p class="email-link">
            <a href="#" data-toggle="modal" data-target="#newsletter">Sign Up</a>
          </p>
          <h2>Links</h2>
          <p>
            <a href="https://www.amazon.com/gp/r.html?C=Z9SQXHR9LXA4&R=29D6PQ39H1NQG&T=C&U=https%3A%2F%2Fwww.amazon.com%2Fauthor%2Fmarknoce%3Fref_%3Dpe_1724030_132998060&A=MJFRZYYLOEYMIKOB8BQPAZIFR2KA&H=Q4GW6ZQROC5USVZJUCIAZH1CY10A&ref_=pe_1724030_132998060" target="_blank">Amazon Author Page</a>
          </p>
          <p>
            <a href="http://www.thedeborahharrisagency.com/author-page/197/noce-mark" target="_blank">Deborah Harris Agency Profile</a>
          </p>
          <p>
            <a href="http://www.thedeborahharrisagency.com/book-page/123/between-two-fires" target="_blank">Between Two Fires</a>
          </p>
          <p>
            <a href="http://www.publishersweekly.com/pw/by-topic/industry-news/book-deals/article/63919-book-deals-week-of-september-8-2014.html" target="_blank">Publisher's Weekly Book Deal Mention</a>
          </p>
          <h2>Social Media</h2>
          <div class="social-links">
            <a href="https://www.facebook.com/markchristophernoce" target="_blank" title="facebook"><%= image_tag 'rsz_facebook.jpg' %></a>
            <a href="https://twitter.com/MarkNoce" target="_blank" title="twitter"><%= image_tag 'rsz_twitter.jpg' %></a>
            <a href="https://www.linkedin.com/profile/view?id=66810819&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic" target="_blank" title="linkedin"><%= image_tag 'rsz_linkedin.jpg' %></a>
            <a href="https://plus.google.com/+MarkNoce" target="_blank" title="google+"><%= image_tag 'rsz_googleplus.jpg' %></a>
            <a href="https://www.goodreads.com/book/show/23172410-between-two-fires" target="_blank" title="goodreads"><%= image_tag 'rsz_goodreads.jpg' %></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>