<div id="homepage-background" class="background">
  <%= render partial: "newsletter" %>
  <div class="top-title" id="top-title">
    <img src="assets/BetweenTwoFires.jpg" align="left"/>
    <div class="top-title-text">
      <!-- <h1 class="title">Between Two<br>Fires</h1> -->
      <p class="medium">
        Coming August 23, 2016
      </p>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Pre-order it Now!</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Amazon</a>
          <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781250072627" target="_blank">Barnes and Noble</a>
          <a href="https://itunes.apple.com/us/book/between-two-fires/id1080308282?mt=11" target="_blank">iTunes</a>
          <a href="http://www.indiebound.org/book/9781250072627" target="_blank">Indiebound</a>
        </div>
      </div>
      <!-- <p class="medium">
        <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Pre-order Today!</a>
      </p> -->
      <p class="welcome-link large">
        <a href="#welcome">Welcome &darr;</a>
      </p>
    </div>
  </div>

  <div class="homepage-bottom regular floaters" id="front">
    <div id="welcome"></div>
    <h1 class="larger">Welcome!</h1>
    <div class="welcome-text large">
      <p>
        Welcome to the works of Mark Noce! Peruse my latest books and short stories or checkout my blog for the latest updates on my writing. If you enjoy historical thrillers that you can't put down, you’ve come to the right place.
      </p>
      <p>
        My debut novel, <u>Between Two Fires</u>, comes out with St. Martin’s Press on August 23, 2016.
      </p>
      <a href="https://www.facebook.com/markchristophernoce" target="_blank"><%= image_tag 'facebook_icon.png' %></a>
      <a href="https://twitter.com/MarkNoce" target="_blank"><%= image_tag 'twitter_icon.png' %></a>
      <a href="https://www.linkedin.com/in/mark-noce-80345b1a" target="_blank"><%= image_tag 'linkedin_icon.png' %></a>
      <a href="https://plus.google.com/+MarkNoce" target="_blank"><%= image_tag 'google_icon.png' %></a>
      <a href="http://www.goodreads.com/author/show/8532238.Mark_Noce" target="_blank"><%= image_tag 'goodreads-icon.png' %></a>
      <p id="newsletter_link">
        <a href="#" data-toggle="modal" data-target="#newsletter">Sign up for my Newsletter!</a>
      </p>
    </div>
    <div class="profile-photo col-sm-4">
    </div>
  </div>
</div>