<div class="top-title" id="top-title">
  <h1 class="title align-right">Between Two Fires</h1>
  <p class="large align-right">
    Coming in 2015
  </p>
</div>

<div class="homepage-bottom regular" id="front">
  <h1 class="larger">Welcome!</h1>
  <div class="welcome-text">
    <p>
      Welcome to the works of Mark Noce! Peruse my latest books and short stories or checkout my blog for the latest updates on my writing. If you enjoy historical thrillers that you can't put down, you’ve come to the right place.
    </p>
    <a href="https://www.facebook.com/markchristophernoce" target="_blank"><%= image_tag 'facebook_icon.png' %></a>
    <a href="https://twitter.com/MarkNoce" target="_blank"><%= image_tag 'twitter_icon.png' %></a>
    <a href="https://www.linkedin.com/profile/view?id=66810819&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic" target="_blank"><%= image_tag 'linkedin_icon.png' %></a>
    <a href="https://plus.google.com/+MarkNoce" target="_blank"><%= image_tag 'google_icon.png' %></a>
    <a href="http://www.goodreads.com/author/show/8532238.Mark_Noce" target="_blank"><%= image_tag 'goodreads-icon.png' %></a>
  </div>
  <div class="profile-photo">
  </div>
</div>