<div id="homepage-background" class="background">
  <%= render partial: "newsletter" %>
  <%= render partial: "thunderclap" %>
  <div class="top-title" id="top-title">
    <a href="/books#darkwinds"><img class="coverImg" src="assets/DarkWindsRising.jpg" align="left"/></a>
    <div class="top-title-text mobile-center">
      <div class="first-book-img">
        <a href="/books"><img src="assets/BetweenTwoFires.jpg" width="250" align="left" /></a>
      </div>
      <div id="quote-slideshow">
        <p>
          <span class="quote">“A spirited ride through a turbulent slice of Welsh history!”</span>
          <br><br>
          <i>– Paula Brackston, NYT Bestselling author of The Witch’s Daughter</i>
        </p>
        <p>
          <span class="quote">“A fast-paced read that has a wonderfully visual style and some memorable characters."</span>
          <br><br>
          <i>– Juliet Marillier, Bestselling author of Daughter of the Forest and Wolfskin</i>
        </p>
        <p>
          <span class="quote">"Mark Noce combines Welsh history with a touch of folkloric magic in this promising debut novel."</span>
          <br><br>
          <i>– Juliet Marillier, Bestselling author of Daughter of the Forest and Wolfskin</i>
        </p>
      </div>
      <div class="medium">
        Order it Today!
      </div>
      <div class="dropdown center">
        <button onclick="myFunction()" class="dropbtn">Available Now!</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="https://www.amazon.com/Dark-Winds-Rising-Novel-Branwen/dp/1250072638/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank">Amazon</a>
          <a href="https://www.amazon.com/Dark-Winds-Rising-Mark-Noce-ebook/dp/B0716WT9VS" target="_blank">Amazon Kindle</a>
          <a href="https://www.barnesandnoble.com/w/dark-winds-rising-mark-noce/1125377225?ean=9781250072634&st=PLA&sid=BNB_DRS_Core+Shopping+Books_00000000&2sid=Google_&sourceId=PLGoP75606" target="_blank">Barnes & Noble</a>
          <a href="https://www.barnesandnoble.com/w/dark-winds-rising-mark-noce/1125377225?ean=9781466884441&st=PLA&sid=NOK_DRS_NOOK+EBooks_00000000&2sid=Google_&sourceId=PLGoP75008" target="_blank">B&N Nook</a>
          <a href="https://itunes.apple.com/se/book/dark-winds-rising/id1237059301?l=en&mt=11" target="_blank">iTunes</a>
          <a href="http://www.indiebound.org/book/9781250072634" target="_blank">Indiebound</a>
        </div>
      </div>
      <!-- <p class="medium">
        <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Pre-order Today!</a>
      </p> -->
      <p class="welcome-link">
        <a href="#welcome">Welcome &darr;</a>
      </p>
    </div>
  </div>

  <div class="homepage-bottom regular floaters" id="front">
    <div id="welcome"></div>
    <h1 class="larger">Welcome!</h1>
    <div class="welcome-text large">
      <p>
        Welcome to the works of Mark Noce! Peruse my latest books and short stories or checkout my blog for the latest updates on my writing. If you enjoy historical thrillers that you can't put down, you’ve come to the right place.
      </p>
      <p>
        My upcoming sequel, <u>Dark Winds Rising</u>, comes out with St. Martin’s Press on December 5, 2017.
      </p>
      <a href="https://www.facebook.com/MarkNoce/?fref=ts" target="_blank"><%= image_tag 'facebook_icon.png' %></a>
      <a href="https://twitter.com/MarkNoce" target="_blank"><%= image_tag 'twitter_icon.png' %></a>
      <a href="https://www.linkedin.com/in/mark-noce-80345b1a" target="_blank"><%= image_tag 'linkedin_icon.png' %></a>
      <a href="https://plus.google.com/+MarkNoce" target="_blank"><%= image_tag 'google_icon.png' %></a>
      <a href="http://www.goodreads.com/author/show/8532238.Mark_Noce" target="_blank"><%= image_tag 'goodreads-icon.png' %></a>
      <p id="newsletter_link">
        <a href="#" data-toggle="modal" data-target="#newsletter">Sign up for my Newsletter!</a>
      </p>
    </div>
    <div class="profile-photo col-sm-4">
    </div>
  </div>
</div>
