<!DOCTYPE html>
<html>
<head>
  <title>MarkNoce</title>
  <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script>
      function handleResponse(response) {
        console.log(response)
        // document.getElementById("content").innerHTML += "<h1>" + response.title + "</h1>" + response.content;
      }
  </script>
  <script src="https://www.googleapis.com/blogger/v3/blogs/1980109953773848923?callback=handleResponse&key=AIzaSyBPO9bgsBJ4Iw2R2Pcj8JZWrOMejLUz5AA"></script>
  <%= csrf_meta_tags %>
</head>
<body id="ground">
  <%= render partial: "navbar" %>
  <%= yield %>

</body>
</html>
